		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<i class="icon-arrow-left52 position-left"></i>
					<span class="text-semibold">CRM</span> - Accounts
				</h4>

				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a ui-sref="dashboard">Home</a></li>
					<li><a ui-sref="crm">CRM</a></li>
					<li><a ui-sref="crm.accounts.all">Accounts</a></li>
					<li class="active">{{ account.name }}</li>
				</ul>
			</div>

			<div class="heading-elements">
				<a ng-click="add ()" class="btn bg-indigo btn-labeled heading-btn"><b><i class="icon-user-plus"></i></b> Contact</a>
				<a ng-click="update ()" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-checkmark4"></i></b> Update</a>
			</div>
		</div>
